.container.ImageModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  background-color: black;

  .xmark,
  .chevron-left,
  .chevron-right,
  .chevron-up {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    
    color: white;
    font-size: 50px;
    opacity: 30%;
    &:hover {
      opacity: 50%;
    }
  }

  .chevron-left,
  .chevron-right {
    top: 50%;
    transform: translateY(-50%);
  }

  .xmark {
    top: 10px;
    right: 20px;
  }

  .chevron-left {
    left: 10px;
  }

  .chevron-right {
    right: 10px;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;

    object-fit: contain;
    padding: 0 50px;
  }

  .textbox {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    
    bottom: 0;
    // transform: translateY(50px);

    background-color: rgba(49, 55, 70, 0.75);
    .title,
    .description {
      color: rgb(215, 215, 215);
      text-align: center;
      padding-top: 5px;
    }
    .title {
      font-weight: bold;
    }

    .chevron-up {
      right: 20px;
      top: -25px;
      font-size: 25px;
      opacity: 75%;
    }
  }
}
